@import "tailwindcss";
body {
  min-height: 100vh;
  min-width: 100vw;
  background-color: #d2d2d2;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
}

/* Hide scrollbars */
::-webkit-scrollbar {
  display: none;
}

* {
  scrollbar-width: none; /* Firefox */
}

html {
  scroll-behavior: smooth;
}

