@import "tailwindcss";
body {
  min-height: 100vh;
  min-width: 100vw;
  background-color: #d2d2d2;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

* {
  scrollbar-width: none;
}

html {
  scroll-behavior: smooth;
}

@keyframes spinSlow {
  from { transform: rotate(0deg); }
  to { transform: rotate(-360deg); }
}

.animate-spin-slow {
  animation: spinSlow 3s linear infinite;
}
